@font-face {
    font-family: "Gilroy-Bold";
    src: url("Gilroy-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}